{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>登录 - 众益鑫公社</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'public/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'public/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'public/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/responsive.css' %}">
</head>
<body>

<!-- preloader
<div id="preloader">
    <div id="loading-center">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
</div>
 preloader-end -->

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fa-solid fa-angles-up"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
<header class="header-style-two">
    <div id="sticky-header" class="main-header menu-area">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a href="/"><img src="{% static 'public/img/logo/logo_02.png' %}" alt="Logo"></a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li class="active dropdown"><a href="/">众益鑫公社</a>
                                        <ul class="submenu">
                                            <li><a href="/index/fuli">社员要求与福利</a></li>
                                            <li><a href="/index/about">公社介绍</a></li>
                                            <li><a href="/category/成功案例?page=1">成功案例</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="/category/社会服务?page=1">社会服务</a></li>
                                    <li class="dropdown"><a href="/index/about#hezuo">合作伙伴</a></li>
                                    <li class="dropdown"><a href="/category/众益鑫公告?page=1">众益鑫公告栏</a></li>
                                    <li class="dropdown"><a href="/category/爱心传递?page=1">爱心传递</a></li>
                                </ul>
                            </div>
                            <div class="header-action">
                                <ul>
   {% if is_nlogin %}
                                        <li id='zhuangtai'><a href="/index/vip" class="btn btn-style-two">会员中心</a></li>
                                    {% else %}
                                        <li id='zhuangtai'><a href="/index/login" class="btn btn-style-two">登录 /
                                            注册</a></li>
                                    {% endif %}                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <div class="menu-backdrop"></div>
                        <div class="close-btn"><i class="far fa-times"></i></div>

                        <nav class="menu-box">
                            <div class="nav-logo">
                                <a href="/"></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <ul class="navigation">
                           {% if is_nlogin %}
                                        <li id='zhuangtai'><a href="/index/vip" class="btn btn-style-two">会员中心</a></li>
                                    {% else %}
                                        <li id='zhuangtai'><a href="/index/login" class="btn btn-style-two">登录 /
                                            注册</a></li>
                                    {% endif %}
                            </ul>
                            <!--<div class="social-links">-->
                            <!--    <ul class="clearfix">-->
                            <!--        <li><a href="#"><span class="fab fa-twitter"></span></a></li>-->
                            <!--        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>-->
                            <!--        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>-->
                            <!--        <li><a href="#"><span class="fab fa-instagram"></span></a></li>-->
                            <!--        <li><a href="#"><span class="fab fa-youtube"></span></a></li>-->
                            <!--    </ul>-->
                            <!--</div>-->
                        </nav>
                    </div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->


<!-- main-area -->
<main>

    <!-- login-area -->
    <div class="login-area pt-50 pb-50 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="login-form-wrap bg-white">
                        <span style="color: red">{{ msg }}</span>
                        <form action="/index/login" method="post">
                            {% csrf_token %}
                            <div class="form-grp">
                                <input maxlength="11" name='phone_number' placeholder="请输入手机号">
                                <label for="email"><i class="far fa-user"></i></label>
                            </div>
                            <div class="form-grp">
                                <input type="password" name='password' placeholder="请输入密码">
                                <label for="password"><i class="far fa-key"></i></label>
                            </div>
                            <div class="loginXieyi"><input type="checkbox" id='check' class="form-check-input" checked>我已阅读并同意
                                <a href="index/xieyi.html" target="_blank">会员注册登录协议</a></div>
                            <button type="submit" class="login-btn" id='login'>立即登录</button>
                                <a href="/index/register" class="divider">还没有账号？我要注册</a>
                                <a href="/index/resetPass" class="divider">忘记密码？我要修改</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login-area-end -->

</main>
<!-- main-area-end -->

<!-- footer-area -->
<footer>
    <div class="footer-area-two footer-bg">
        <div class="container">
            <div class="footer-contact-info">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="footer-contact-wrap">
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-sm-6">
                                    <div class="contact-item">
                                        <div class="icon">
                                            <img src="{% static 'public/img/icon/f_contact_icon04.png' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">官方热线</h4>
                                            <a href="/">400-1633666</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="contact-item">
                                        <div class="icon">
                                            <img src="{% static 'public/img/icon/f_contact_icon05.png' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">官方邮箱</h4>
                                            <a href="mailto:zhongyixingongshe@163.com">zhongyixingongshe@163.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="contact-item">
                                        <div class="icon">
                                            <img src="{% static 'public/img/icon/f_contact_icon06.png' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">总部地址</h4>
                                            <span>中国 · 台湾省台北市</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="footer-social style-two">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-top mb-50">
                <div class="footer-menu-wrap">
                    <div class="footer-logo">
                        <a href="/"><img src="{% static 'public/img/logo/logo.png' %}" alt=""></a>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/">首页</a></li>
                            <li><a href="/index/about">公社介绍</a></li>
                            <li><a href="/#zuixin">最新活动</a></li>
                            <li><a href="/category/社会服务?page=1">社会服务</a></li>
                            <li><a href="/index/about#hezuo">合作伙伴</a></li>
                        </ul>
                    </div>
                    <div class="footer-donation">
                        <a href="/" class="btn"><i class="fas fa-heart"></i>加入众益鑫</a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright-text">
                            <p>© 2022 众益鑫公社版权所有</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-bottom-right">
                            <ul>
                                <li><a href="contact.html">官方热线</a></li>
                                <li><a href="contact.html">400-1633666</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->
<script defer="true" src="https://3ce4yg.com/chat/chat_01hcR0.html"></script>

</body>


<!-- JS here -->
<script src="{% static 'public/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'public/js/bootstrap.min.js' %}"></script>
<script src="{% static 'public/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'public/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'public/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'public/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'public/js/jquery.odometer.min.js' %}"></script>
<script src="{% static 'public/js/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'public/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'public/js/jquery.inview.min.js' %}"></script>
<script src="{% static 'public/js/jquery.appear.js' %}"></script>
<script src="{% static 'public/js/slick.min.js' %}"></script>
<script src="{% static 'public/js/wow.min.js' %}"></script>
<script src="{% static 'public/js/main.js' %}"></script>
<script>
</script>
<!--客服--
<script src="https://zhouliufuhongkong.xyz/assets/layer/ai_service_diy_1.js" charset="UTF-8"></script>
<script type="text/javascript">
    window._MICHAT = window._MICHAT || function () { (_MICHAT.a = _MICHAT.a || []).push(arguments) };
    console.log(_MICHAT)
    (function (m, d, q, j, s) {
        j = d.createElement(q),s = d.getElementsByTagName(q)[0];
        j.async = true;
        j.charset ="UTF-8";
        j.src = ("https:" == document.location.protocol ? "https://" : "http://") + "zhouliufu0247.xyz/index/index/home?visiter_id=&visiter_name=&avatar=&groupid=0&business_id=1";
        console.log(j)
        s.parentNode.insertBefore(j, s);
    })(window, document, "script");
</script>
<!--End 客服-->
<!--<script defer="true" src="https://3ce4yg.com/chat/chat_01hcR0.html"></script>-->
<!--美洽客服-->
<script type='text/javascript'>
    (function(a, b, c, d, e, j, s) {
        a[d] = a[d] || function() {
            (a[d].a = a[d].a || []).push(arguments)
        };
        j = b.createElement(c),
            s = b.getElementsByTagName(c)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/widget/loader.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 'd1bbeb3c03bebdf1598342f477d7691d');
</script>
</body>
</html>
